@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Avenir", "Helvetica", "Arial", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: var(--font-sans);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
